<h2>Mesas</h2>
<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>Capacidade</td>
            <td>Status</td>
            @if(authorized()){ <td><button type="button">Novo</button></td> }
        </tr>
    </thead>
    <tbody>
        @for(table of tables();track table.id){
        <tr>
            <td>{{table.name}}</td>
            <td>{{table.capacity}}</td>
            <td>{{table.status}}</td>
            @if(authorized()){
            <td>
                <button type="button">Alterar</button><button type="button">Deletar</button>
            </td>
            }
        </tr>
        }
    </tbody>
</table>

<div style="display: none;">
    <div>
        <img src="" alt="">
        <h3>nome da mesa</h3>
        <p>Capacidade</p>
        <p>Status</p>
    </div>
    <div>
        <button>Fazer uma Reserva</button>
    </div>
</div>