<h2>Mesas</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Capacidade</th>
            <th>Status</th>
            @if(authorized()){ <th><button (click)="openModal()" type="button">Novo</button></th> }
        </tr>
    </thead>
    <tbody>
        @for(table of tables();track table.id){
        <tr (click)="selectTable(table)">
            <td>{{table.name}}</td>
            <td>{{table.capacity}}</td>
            <td>{{table.status}}</td>
            @if(authorized()){
            <td>
                <button type="button" (click)="openModal()">Alterar</button>
            </td>
            }
        </tr>
        }
    </tbody>
</table>
<!--side panel-->
@if(selectTable() !== null){<app-reserve-details [table]="selectTable()" ></app-reserve-details>}


