<div class="head">
    <h2>
        @if(table()){
        Editar Mesa
        }@else{
        Criar Mesa
        }
    </h2>
    <div>
        <button type="button" class="close" (click)="close.emit()">Fechar</button>
    </div>
</div>
<form (ngSubmit)="save()">
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" [(ngModel)]="tableData.name">
    <label for="capacity">Capacidade</label>
    <input type="number" name="capacity" id="capacity" [(ngModel)]="tableData.capacity">
    <label for="status">Status</label>
    <select name="status" id="status" [(ngModel)]="tableData.status">
        @for(status of getKeys(diningTableStatus); track status){
        <option [value]="status">{{ status }}</option>
        }
    </select>
  <div class="form-actions">
    <button>Salvar</button>
    @if(tableData.id > 0){
        <button type="button" (click)="delete()">Delete</button>
    }
</div>
</form>
