<nav style="background-color:gray;">
    <div><img src="" alt=""> <h1>Nome Marca</h1></div>
    <div></div>
    <div class="user-dropdown">
        <div class="user-perfil">
            <img src="" alt="">
            <span>Meu Perfil</span>
        </div>
        <div class="dropdown-menu">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="my-reserves">Minhas Reserves</a></li>
                <li>Logout</li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <router-outlet></router-outlet> 
</div>


