<h3>Bem vindo</h3>
<button type="button" (click)="goToTable()">Ver Mesas</button>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae tincidunt quam. Nulla non quam sit amet ante
    faucibus lacinia. Nam vulputate, libero id auctor aliquam, augue mi sagittis urna, a porttitor sapien lorem non
    lacus. Aenean eget condimentum sem, at venenatis ex. Fusce mattis interdum erat, sit amet euismod justo tincidunt
    ut. Proin in erat vehicula, porta dui vel, mattis arcu. Mauris vitae justo gravida, iaculis est et, aliquet tellus.

    Praesent pharetra lacus leo, nec aliquam neque auctor ac. Integer dictum risus et nisl lacinia, ac dictum ipsum
    hendrerit. In vulputate ipsum erat. Mauris eget odio magna. Suspendisse consectetur vehicula odio, et aliquam nisi
    lacinia at. Integer non est et mi lobortis elementum eget ut magna. Nulla id pulvinar diam. Duis placerat risus at
    euismod placerat. Nunc at ligula id est fringilla facilisis. Pellentesque pulvinar lectus eu urna auctor rutrum. Sed
    faucibus bibendum aliquet. Donec molestie in massa id consequat. </p>